.navbar{
  background: slategray;
}

.homepage{
  border: 1px solid black;
  padding: 10px;
}

.homepage__cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn__section{
  margin: 0 35%;
}

.prev__btn{
  width: 100px;
}

.next__btn{
  float: right;
  width: 100px;
}

.search-cards{

}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

form > input { 
  width: 500px !important;
}

.card-search-results{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.deck-card__trash-i{
  float: right;
  font-size: .85em;
  cursor: pointer;
  color: red;
}


